

.presentacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 5vw 40px 5vw;
  min-height: 100vh;
  background: white;
  font-family: Arial, Helvetica, sans-serif;

}

.presentacion-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 720px;
}

.presentacion-left h1 {
  font-size: 5rem;
  color: #a0522d;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.descripcion {
  font-size: 1.05rem;
  padding-top: 20px;
 color: #222;
}

.presentacion-right {
  flex: 1.2;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Collage de presentación en el main */
.collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
  width: 100%;
  max-width: 500px;
}

.collage-item {
  background: #F5E6D3;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  
}

.collage-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s cubic-bezier(.4,1.5,.5,1); /* transición suave */
}

.collage-item:hover img {
  transform: scale(1.08);
  z-index: 2;
}
/* Tamaños personalizados para cada item */
.collage-item.grande {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  aspect-ratio: 1/1;
}

.collage-item.vertical {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  aspect-ratio: 0.8/1.7;
}

.collage-item.cuadrado {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  aspect-ratio: 1/1;
}