/* FOOTER */
.footer {
  background-color: #A0522D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacto {
    
  padding: 25px 30px;
  border-radius: 12px;
  color: #fff;
  align-content: center;
  text-align: center;
  width: auto;
  margin: 0 10px;
}
.contacto h1{
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: #ffe0b2;
}

.contacto-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.contacto-item img {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}

.footer-title {
  margin-bottom: 20px;
}

.Sucursales {

  padding: 25px;
  margin-right: 50px;
  border-radius: 12px;
  color: #fff;
  width: 320px;
  text-align: left;

}

.Sucursales h1 {
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: #ffe0b2;
}

.Sucursales p {
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 0.98rem;
}

.Sucursales strong {
  color: #ffd8a6;
  font-weight: 600;
}

.tarjeta-footer {
  padding: 25px 30px;
  border-radius: 12px;
  color: #fff;
  width: 420px;
  text-align: left;
  margin: 0 10px;
}

.tarjeta-footer h1 {
  font-size: 1.2rem;
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: #ffe0b2;
}

.tarjeta-footer p, .tarjeta-footer strong {
  margin-bottom: 2px;
  line-height: 1.5;
  font-size: 0.98rem;
}

.creditos-creativos p {
  margin-bottom: 6px;
  font-size: 0.95rem;
  color: #ffd8a6;
}